.team-title {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #f7f3f3;
}
.Author-title {
   
    font-weight: 400;
    letter-spacing: 3px;
    color: #f7f3f3;
}
.Budget-title {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #f7f3f3;
}